
<style>

</style>
<footer class="footer">
    <div class="text-center mt-5">
        <h3>Horaires d'ouverture</h3>
        <p>Lundi-Vendredi: 8h00 - 18h00</p>
        <p>Samedi: 10h00 - 16h00</p>
        <p>Dimanche: Fermé</p>
        <p> Contact au : 0102030405</p>
    </div>
</footer>