{% extends 'base.html.twig' %}

{% block title %}Service de réparation{% endblock %}


    {% block body %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Service de réparation</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h2>Nos services</h2>
                    <ul>
                        {% for serviceInformation in ServiceInformations %}
                            <li>{{ serviceInformation.services|raw }}</li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-md-6">
                    <h2>Prendre rendez-vous</h2>
                    <p>Pour prendre rendez-vous, veuillez nous contacter à l'adresse email suivante:</p>
                    <a href="{{ path('app_cgeneral') }}" class="btn btn-primary mt-2 mb-4">Formulaire de contact</a>

                </div>
            </div>
        </div>
    {% endblock %}

