{% extends 'base.html.twig' %}

{% block title %}Service de réparation{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Service de réparation</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h2>Nos services</h2>
                <ul>
                    <li>Réparation de moteurs</li>
                    <li>Remplacement de pneus</li>
                    <li>Réparation des freins</li>
                    <li>Services de vidange d'huile</li>
                    <li>Réparations électriques</li>
                    <!-- Ajoutez plus de services ici -->
                </ul>
            </div>

            <div class="col-md-6">
                <h2>Prendre rendez-vous</h2>
                <p>Pour prendre rendez-vous, veuillez nous contacter à l'adresse email suivante:</p>
                <a href="#" class="btn btn-primary mt-2 mb-4">Formulaire de contact</a>
                <p>Ou appelez-nous au numéro suivant:</p>
                <p>0123456789</p>
            </div>
        </div>
    </div>
{% endblock %}
