{% extends 'base.html.twig' %}

{% block title %}Garage V.Pannot{% endblock %}


{% block body %}
    <div class="container">
        <div class="text-center mt-4">
            <img src="img/Logo VL RVB.jpg" alt="Logo Garage" class="mb-4">
            <h1>Bienvenue au garage V.Pannot</h1>
        </div>

        <div class="row mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Réparation de véhicules</h2>
                        <p class="card-text">Nous offrons un service complet de réparation de véhicules. Contactez-nous pour prendre rendez-vous ou pour obtenir un devis.</p>
                        <a href="/garage" class="btn btn-primary">En savoir plus</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Véhicules d'occasion</h2>
                        <p class="card-text">Nous avons une variété de véhicules d'occasion disponibles à la vente. Jetez un oeil à notre sélection ci-dessous.</p>
                        <a href="#" class="btn btn-primary">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center mt-5">
            <h3>Horaires d'ouverture</h3>
            <p>Lundi-Vendredi: 8h00 - 18h00</p>
            <p>Samedi: 10h00 - 16h00</p>
            <p>Dimanche: Fermé</p>
        </div>
    </div>
{% endblock %}

