{% extends 'base.html.twig' %}

{% block title %}Merci !{% endblock %}

{% block body %}
    <h1>Confirmation du formulaire</h1>
    <p>Votre formulaire a été soumis avec succès.</p>
    <p>Merci de nous avoir contactés !</p>
{% endblock %}
